GNS_SOURCE_MODE=auto
GNS_BITCOIN_RPC_URL=http://127.0.0.1:38332
GNS_BITCOIN_RPC_USERNAME=
GNS_BITCOIN_RPC_PASSWORD=
GNS_ESPLORA_BASE_URL=
GNS_EXPECT_CHAIN=signet
GNS_LAUNCH_HEIGHT=100
GNS_RPC_END_HEIGHT=
GNS_RPC_POLL_INTERVAL_MS=10000
GNS_DATABASE_URL=
GNS_DATABASE_SCHEMA=public
GNS_SNAPSHOT_PATH=.data/gns-snapshot.json
GNS_SNAPSHOT_KEY=resolver
GNS_VALUE_STORE_KEY=resolver
GNS_RESOLVER_PORT=8787
GNS_WEB_PORT=3000
GNS_WEB_BASE_PATH=
GNS_WEB_NETWORK_LABEL=Public Signet
GNS_WEB_SHOW_LIVE_SMOKE=true
GNS_WEB_LIVE_SMOKE_STATUS_PATH=
